@import './base.css';

:root {
  --syntax-blue: #6ebeff;
  --syntax-green: #53d17d;
  --syntax-orange: #f3ab89;
  --syntax-red: #ff614d;
  --syntax-pink: #b392ff;

  --code-type-weight: normal;

  --color-comment: var(--vt-c-divider-dark-1);
  --color-comment-hover: var(--vt-c-text-light);
  --color-code: var(--vt-c-text-dark-2);
  --color-code-background: var(--vt-c-black-mute);
  --color-code-key: var(--vt-c-text-light-2);
}

[data-type] { font-weight: var(--code-type-weight); }
[data-type="number"] { color: var(--syntax-blue); }
[data-type="bool"]   { color: var(--syntax-green); }
[data-type="string"] { color: var(--syntax-orange); }
[data-type="object"] { color: var(--syntax-red); }
[data-type="array"] { color: var(--syntax-pink); }

code {
  display: inline-block;
  background-color: var(--color-code-background);
  padding: 0.6em 0.8em;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0.4em 0;
  color: var(--color-code);

  --color-selection: #5e4433;
}
code.inline {
  display: inline;
  padding: 4px;
  margin: 0;
}
code b {
  color: inherit;
}

code .key {
  padding: 2px 4px;
  border-radius: 4px;
}

.comment {
  color: var(--color-comment);
  background: none;
}

code ul {
  padding-inline-start: 1.5em;
}

code li {
  list-style-type: none;
}
code li:hover > .comment, code li:hover > span > .comment {
  color: var(--color-comment-hover);
}
code li:hover > .key {
  background-color: var(--color-code-key);
  color: var(--vt-c-text-dark-1);
}
code > * li::before {
  pointer-events: none;
  content: "";
  width: 2px;
  right: calc(100% + 8px);
  top: 4px;
  bottom: 4px;
  position: absolute;
  background-color: var(--color-code-key);
  opacity: 0.7;
  transition: 0.2s;
}
code > * li:hover::before {
  top: 0;
  bottom: 0;
  opacity: 1;
  width: 4px;
  transition-duration: 0.05s;
}

code .comment > span {
  display: inline-flex;
  white-space: pre-line;
}