@import './base.css';

:root {
  --syntax-blue: #6ebeff;
  --syntax-green: #53d17d;
  --syntax-orange: #f3ab89;
  --syntax-red: #ff614d;
  --syntax-pink: #b392ff;

  --code-type-weight: normal;

  --color-comment: var(--vt-c-divider-dark-1);
  --color-comment-hover: var(--vt-c-text-dark-2);
  --color-code: var(--vt-c-text-dark-2);
  --color-code-background: var(--vt-c-black-mute);
  --color-code-key: var(--vt-c-text-light-2);
}

[data-type] {
  font-weight: var(--code-type-weight);
  color: var(--color);
  white-space: nowrap;
  user-select: none;
}
[data-type="number"] { --color: var(--syntax-blue); }
[data-type="bool"]   { --color: var(--syntax-green); }
[data-type="string"] { --color: var(--syntax-orange); }
[data-type="object"] { --color: var(--syntax-red); }
[data-type="array"] { --color: var(--syntax-pink); }
[data-type="timezone"] { --color: var(--syntax-pink); }

code {
  display: block;
  background-color: var(--color-code-background);
  padding: 0.6em 0.8em;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0.4em 0;
  color: var(--color-code);
  width: fit-content;

  --color-selection: #435d7a;
}
code.inline {
  display: inline;
  padding: 4px;
  margin: 0;
  width: auto;
}
code b {
  color: inherit;
}

code .key {
  padding: 2px 4px;
  border-radius: 4px;
}

.comment {
  color: var(--color-comment);
  background: none;
  user-select: none;
}

.separator {
  padding-left: 0.3em;
}
.separator-end {
  padding-right: 0.6em;
}

code ul {
  padding-inline-start: 1.5em;
}

code li {
  list-style-type: none;
}
code li:hover > .comment, code li:hover > span > .comment {
  color: var(--color-comment-hover);
}
code li:hover > .key {
  background-color: var(--color-code-key);
  color: var(--vt-c-text-dark-1);
}

code .comment > span {
  display: inline-flex;
  white-space: pre-line;
}