@import './base.css';
@import './code.css';

html, body {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: var(--color-selection);
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#app {
  margin: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.1s;
}
a > * {
  transition: inherit;
}
a:hover {
  transition-duration: 0s;
}
a:not(.no-line):hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}
a:hover b {
  color: var(--color-link-hover);
}
a.link, p a {
  text-decoration: underline;
}

p {
  width: 55vw;
  line-height: 1.4em;
  margin: 0.6em 0;
}

input, textarea {
  font: inherit;
  padding: 4px 8px;
  margin: 6px;
  transition: 0.15s;
  background: var(--color-input-background);
}
input {
  border-radius: 3px;
  border: var(--border-width) solid var(--color-border-hover);
  outline: none;
}
input:hover, input:focus {
  border-color: var(--color-border);
}

h3 {
  margin-top: 2em;
}

.comment {
  color: var(--color-comment);
  background: none;
}

.unlist {
  padding-inline-start: 0;
  list-style-type: none;
}
.unlist > li {
  margin-bottom: 80px;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid var(--color-comment);
  padding: 8px;
}
table code {
  display: flex;
  margin: 0;
}


strong, b {
  font-weight: bold;
}

aside {
  background-color: var(--color-background-soft);
  display: flex;
  flex-direction: column;
  width: 28em;
  max-width: 25vw;
  border-right: var(--border);
}
aside li > :not(ul) {
  display: inline-flex;
}
aside > ul {
  border-top: var(--border);
  overflow-y: auto;
  flex: 1;
  padding: 6px 12px;
}
aside ul {
  padding-inline-start: 12px;
  list-style-type: none;
}
aside a {
  word-break: break-all;
}
aside .path > a {
  font-style: italic;
}

main {
  overflow-y: auto;
  flex: 1;
  padding: 2.5em 3em 20vh 3em;
}

.required {
  font-weight: bold;
  text-decoration: underline;
}

ul.big-items {
  padding-inline-start: 0;
}
ul.big-items > li {
  list-style-type: none;
}
ul.big-items .item {
  display: inline-flex;
  flex-direction: column;
  padding: 8px 0;
}

h1 {
  color: var(--color-heading);
}

main h2 {
  margin-top: 1em;
}

svg {
  fill: inherit;
}

header {
  display: flex;
  background-color: var(--color-menubar);
  border-bottom: var(--border);
  padding: 0.5em 0.5em;
  color: var(--color-title);
  fill: var(--color-title);
  box-shadow: 0 0 6px #0003;
  z-index: 1;
}
header a {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
header h2 {
  font-size: 1.3em;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: var(--vt-c-black-soft);
  color: var(--vt-c-text-dark-2);
}

nav {
  position: sticky;
}
nav .separator {
  pointer-events: none;
  margin: 0 0.5em;
}
nav .separator::before {
  content: "\276f";
}
nav > span:not(:first-child) > * {
  display: inline-block;
  transform: translateX(-0.2em);
  opacity: 0.5;
  animation: fade-in 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
}

@keyframes fade-in {
  100% { opacity: 1; transform: translate(0px); }
}